node_modules/
dist
.idea
.DS_Store
.eslintcache
.nuxt
.output
auto-imports.d.ts
components.d.ts
playwright-report
test-results

# Vitepress
docs/.vitepress/dist
docs/.vitepress/cache
docs/.vitepress/.temp

.data
